# 不要填写 localhost：不同设备需要各自可访问的地址。
# iOS Simulator：http://127.0.0.1:8000
# Android Emulator：http://10.0.2.2:8000
# 局域网真机：http://你的电脑局域网IP:8000
# 后续 HTTPS：https://api.example.com
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.10:8000
